@layer base{
  .dark-theme{
    --neon-blue: #2459f5;
    --dodger-blue: #396BF9;
    --mako: #3f4551;
    --cinder: #23222f;
    --amazon: #2e6a46;
    --desert: #b05524;
    --silver-sand: #c2c4c5;
  }
}